:root{
    --list-padding: 10px;
    --shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}
.hbarre{
    background-color:#ff9d00;
}
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    font-family: sans-serif;
    height: 100vh; /*ça va prendre 100% de l'hauteur de l'ecran */
    background-color: #212121;
   }

ul {
    list-style: none;
}

a,
a:visited,
a:active{
    text-decoration: none;
    color: inherit; /*couler herité, pour enlever le blue et violet*/
    transition: all 0.2s ease/* suspeito*/
}

nav{
    color: white;
    background-color: #121212;
    padding: 10px 40px; /*haut-bas et droite-gauche*/
}

.logo {
    display: flex;
    color: white;
    font-size: 30px;
}

.logo span{
    color: #ff9d00;
}


nav > ul {
    display: flex;
    width: max-content;
    margin: 0 auto;
}

nav  ul li a {
    width: 150px ;
    padding-top: var(--list-padding);
    padding-bottom: var(--list-padding);
    text-align: center;
    display: block;
}

nav ul li a ion-icon {
    vertical-align: middle; /* five star!*/
}

nav ul li a:hover {
    color: #ff9d00;
}

a:hover{
    color: #ff9d00;
}

nav  ul li {
    position: relative;/* suspeito*/
}

nav  ul li ul {
    position: absolute;
    top: calc(100% + var(--list-padding));
    left: 0;
    background-color: #1d1d1d;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease;
}

nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    box-shadow: var(--shadow);
}

nav ul li ul li:not(:last-child){
    border-bottom: 1px solid #121212;
}